<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "SelTest1">

	<listeners>
		<listener class-name = "com.seltest1.utilities.Reporting" />
	</listeners>


	<test name ="Selenium Test">
	<parameter name = "browser" value = "safari" />
		<classes>
			<class name = "com.seltest1.testCases.TC_LoginTest_001" />
			<!--  <class name = "com.seltest1.testCases.TC_LoginDDT_002" /> -->
		</classes>
	</test>
</suite>